<div>
    <div class="welcome">
        <h1 class="welcome-title">Welcome {{this.username}}</h1>
    </div>
    <div *ngIf="!(accounts.length != 0 && showTable)">
        <h3 class="accountless">YOU DONT HAVE ANY ACCOUNT</h3>
        <h4 class="accountless">PLEASE CREATE ONE</h4>
    </div>
    <div>
        <mat-table *ngIf="accounts.length != 0 && showTable" [dataSource]="accounts" class="mat-elevation">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef class="table-column-name">
                    Id
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="balance">
                <mat-header-cell *matHeaderCellDef class="table-column-name">
                    Balance
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngFor="let element of element.balance| keyvalue">
                        {{ element.value }} &nbsp;
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container class="table-column-name" matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="table-column-name">
                    More Info.
                </mat-header-cell>
                <td class="convert-button" mat-cell *matCellDef="let element">
                    <button mat-raised-button type="submit" (click)="accountInfo(element)"><h4>+</h4></button>
                </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
</div>