<form [formGroup]="loginForm" novalidate (ngSubmit)="submitForm()">
    <mat-card class="login-card">
        <div class="login-container">
            <h2 class="login-title">LOGIN</h2>
            <h4 [routerLink]="'/sign-in'">Need an account?</h4>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="username" formControlName="username">
                            <mat-error *ngIf="username.invalid">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="password" formControlName="password" />
                            <mat-error *ngIf="password.invalid">
                                Password name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [disabled]="loginForm.invalid" color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </div>
    </mat-card>
</form>